@if (errorMessage) {
  <p class="alert-danger mt-5">{{ errorMessage }}</p>
} @else {
  <p class="mt-5">Submitted applications:</p>

  <ul class="list-group list-group align-items-center mt-5">
    <li class="row list-group-item w-100" style="background-color: aliceblue">
      <span class="col-sm-4 d-inline-block">Full Name</span>
      <span class="col-sm-2 d-inline-block">License Type</span>
      <span class="col-sm-2 d-inline-block">Application Date</span>
      <span class="col-sm-2 d-inline-block">Status</span>
    </li>
  </ul>

  <ul class="list-group list-group-flush align-items-center">
    @for (submission of submissions; track submission.id) {
      <li class="row list-group-item w-100" (click)="goToDetails(submission.id)">
      <span class="col-sm-4 d-inline-block">
        {{ submission.applicant.firstName }}, {{ submission.applicant.lastName }}
      </span>
        <span class="col-sm-2 d-inline-block">
        {{ submission.licenseType }}
      </span>
        <span class="col-sm-2 d-inline-block">
        {{ submission.applicationDate | date: 'mediumDate' }}
      </span>
        <span class="col-sm-2 d-inline-block">
        {{ submission.status }}
      </span>
      </li>
    }
  </ul>

}
