<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-5 login-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row d-md-none login-image"></div>
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome back!</h3>
              <div class="alert-danger mb-3">{{ error }}</div>
              <!-- Sign In Form -->
              <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-floating mb-3">
                  <input id="email" type="email" formControlName="username" placeholder="name@example.com" class="form-control">
                  <label for="email">Email address</label>
                </div>
                <div class="form-floating mb-3">
                  <input id="password" type="password" formControlName="password" placeholder="Password" class="form-control" >
                  <label for="password">Password</label>
                </div>

                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                  <label class="form-check-label" for="rememberPasswordCheck">
                    Remember password
                  </label>
                </div>

                <div class="d-grid">
                  <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Sign in</button>
                  <div class="text-center">
                    <a class="small" routerLink="/signup">Sign up</a>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
