<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse alert-info">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a routerLink="home" class="list-group-item list-group-item-action py-2 ripple active" aria-current="true">
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>DASHBOARD</span>
        </a>
        <a routerLink="submissions" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-chart-bar fa-fw me-3"></i><span>Applications</span>
        </a>
        <a routerLink="users" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-users fa-fw me-3"></i><span>Users</span>
        </a>
        <a routerLink="applicants" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-users fa-fw me-3"></i><span>Applicants</span>
        </a>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-gradient fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button data-mdb-button-init class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <div>
        <a class="navbar-brand navbar-brand-img d-inline-block" routerLink="home"></a>
        <span style="font-size: larger; position: absolute; top: 14px">Traffic System</span>
      </div>

      <ul class="navbar-nav ms-auto d-flex flex-row">
        <li class="nav-item">
          <a class="nav-link me-3 me-lg-0">
            <p class="">Hi {{ user?.firstName }}</p>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" routerLink="/login">
            <i class="fas fa-sign-out"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4">
    <router-outlet></router-outlet>
  </div>
</main>
<!--Main layout-->

